<div *ngIf="showLogin">
    <h1 id="account_title">Login</h1>
</div>
<div *ngIf="!showLogin">
    <h1 id="account_title">Sign up</h1>
</div>


<div id="identification_form">

    <div *ngIf="showLogin">
        <mat-grid-list cols="1" rowHeight="500px">
            <mat-form-field appearance="fill" class="identification-field" style="margin-top: 150px;">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. pat@example.com" [(ngModel)]='inputEmail'>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="identification-field">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]='inputPassword'>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>

            <div class="identification-field ask-container ">
                Do not have an account? <span (click)="showSignupForm()">Sign up</span>
            </div>

            <button mat-button id="submit-button" (click)="login()">Login</button>
        </mat-grid-list>
    </div>

    <div *ngIf="!showLogin">
        <mat-grid-list cols="1" rowHeight="500px">
            <mat-form-field appearance="fill" class="identification-field" style="margin-top: 150px;">
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]='inputFirstName'>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="identification-field">
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]='inputLastName'>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="identification-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. pat@example.com" [(ngModel)]='inputEmail'>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="identification-field">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]='inputPassword' autocomplete="new-password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>

            <div class="identification-field ask-container ">
                Already have an account? <span (click)="showLoginForm()">Sign in</span>
            </div>

            <button mat-button id="submit-button" (click)="signUp()">Sign up</button>
        </mat-grid-list>
    </div>

</div>