<h1 id="tenants_title">Tenants</h1>


<button *ngIf="!isRowSelected()" (click)="createTenant()" mat-flat-button id="create_button" class="crud_button">
    Create
</button>
<button *ngIf="isRowSelected()" (click)="updateTenant()" mat-flat-button id="update_button" class="crud_button">
    Update
</button>
<button *ngIf="isRowSelected() && !isBeingUpdated" (click)="deleteSelectedTenant()" mat-flat-button id="delete_button"
    class="crud_button">
    Delete
</button>
<button *ngIf="isCreatingTenant" (click)="cancelAction()" mat-flat-button id="cancel_button"
    class="crud_button">
    Cancel
</button>

<span id="filter_title">Filter</span>
<mat-form-field appearance="standard" style="width: 75px;">
    <mat-label>By id</mat-label>
    <input matInput (keyup)="applyFilterById($event)" placeholder="Ex. 1" #input>
</mat-form-field>

<mat-form-field appearance="standard" style="padding-left: 15px;">
    <mat-label>By name</mat-label>
    <input matInput (keyup)="applyFilterByName($event)" placeholder="Ex. E-commerce" #input>
</mat-form-field>



<div class="mat-elevation-z8" *ngIf="isCreatingTenant">
    <table mat-table class="mat-elevation-z8" id="tenant_creation" [dataSource]="dataSourceToCreate">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tenant name</th>
            <td mat-cell *matCellDef="let tenant">
                <input matInput placeholder="Ex. E-commerce" [(ngModel)]='inputTenantName'>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsToCreate"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsToCreate;"></tr>
    </table>
</div>


<div class="mat-elevation-z8" *ngIf="!isCreatingTenant">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="tenant_list">
        <ng-container matColumnDef="tenantId">
            <th mat-header-cell *matHeaderCellDef> Tenant id </th>
            <td mat-cell *matCellDef="let tenant"> {{tenant.tenantId}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tenant name </th>
            <td mat-cell *matCellDef="let tenant">

                <input *ngIf="tenant.isBeingUpdated" matInput type="text" [(ngModel)]='tenant.name'>
                <ng-container *ngIf="!tenant.isBeingUpdated">
                    {{tenant.isBeingUpdated ? '' : tenant.name}}
                </ng-container>

            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let tenant"> {{tenant.active}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': row.isSelected}"
            (click)="clickRow(row)"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
</div>
