<h1 id="orders_title">Orders</h1>


<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="order_list">
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> Order id </th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product name </th>
      <td mat-cell *matCellDef="let order"> {{order.product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="productImage">
      <th mat-header-cell *matHeaderCellDef> Product image </th>
      <td mat-cell *matCellDef="let order">
        <div class="product-image">
          <img src="{{order.product.image}}" />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let order"> {{order.date | date:'MM/dd/yyyy h:mm a'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
</div>