@import '../../../styles.scss';


#orders_title {
    color: var(--main-color);
    font-weight: bold;
    position: absolute;
}

#order_list {
    width: 100%;
    margin-top: 50px;
}


.product-image {
    width: 60px;
    min-height: 60px;
    max-height: auto;
    margin: 1px;
    padding: 1px;

    img {
        max-width: 100%;
        height: auto;
    }
}