<span id="filter_title">Filter</span>
<mat-form-field appearance="standard" style="width: 75px;">
    <mat-label>By id</mat-label>
    <input matInput (keyup)="applyFilterById($event)" placeholder="Ex. 1" #input>
</mat-form-field>

<mat-form-field appearance="standard" style="padding-left: 15px;">
    <mat-label>By product name</mat-label>
    <input matInput (keyup)="applyFilterByProductName($event)" placeholder="Ex. Camera" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="product_list">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let product"> {{product.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let product">
        <div class="product-image">
          <img src="{{product.image}}" />
        </div>
      </td>
    </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let product"> {{product.description}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
</div>