<mat-toolbar class="toolbar" role="banner">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <span class="header-title">Multitenant web store</span>
  <div class="spacer"></div>
  <mat-icon (click)="logout()" *ngIf="isUserLogged()">exit_to_app</mat-icon>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side" opened>
    <img
      class="profile-icon mat-elevation-z8"
      src="/assets/img/profile-icon.png"
      alt="Profile icon"
    />

    <h4 class="name" *ngIf="isUserLogged()">{{ getUserFullName() }}</h4>
    <h4 class="name" *ngIf="!isUserLogged()">Unknown</h4>
    <p class="designation">Role: {{ getUserRole() }}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/account" *ngIf="!isUserLogged()">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tenants" *ngIf="isUserLogged() || isSuperUser()">
      <mat-icon>person</mat-icon>
      <span>Tenants</span>
    </button>
    <button mat-button class="menu-button" routerLink="/products" *ngIf="isUserLogged()">
      <mat-icon>shop</mat-icon>
      <span>Products</span>
    </button>

    <button mat-button class="menu-button" routerLink="/orders" *ngIf="isUserLogged()">
      <mat-icon>assignment_turned_in</mat-icon>
      <span>Orders</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>