:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: var(--font-color);
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #account {
    margin: 0 10px;
}

.toolbar #account {
    opacity: 0.8;
}

.content {
    display: flex;
    margin: 40px 0px;
    padding: 0 0px;
    align-items: center;
    background: var(--second-color);
}
