<mat-toolbar class="toolbar" role="banner">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <span class="header-title">Multitenant web store</span>
  <div class="spacer"></div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side" opened>
    <img
      class="profile-icon mat-elevation-z8"
      src="/assets/img/profile-icon.png"
      alt="Profile icon"
    />

    <h4 class="name">Rubén Morales</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/account">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
    <button mat-button class="menu-button" routerLink="/products">
      <mat-icon>shop</mat-icon>
      <span>Products</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>