@import '../../../styles.scss';


#products_title {
    color: var(--main-color);
    font-weight: bold;
    position: absolute;
}

#products_flexbox {
    margin-top: 50px;
}

.products_start {
    margin-top: 50px;
}